<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="eu.neosurance.sdk">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

	<application>
		<service
			android:name="eu.neosurance.sdk.NSRJobService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
			</intent-filter>
		</service>
		<service
			android:name="eu.neosurance.sdk.NSRLocationIntent"
			android:exported="false" />
		<service
			android:name="eu.neosurance.sdk.NSRActivityIntent"
			android:exported="false" />

		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>
	</application>
</manifest>